/vol/logs/*.log
{
    {{LOGROTATE_MODE}}
    missingok
    rotate {{LOGROTATE_ROTATE}}
    compress
    notifempty
    copytruncate
}

{% if LOGROTATE_EXTRA_FILE_PATHS|length %}
{% for file_path in LOGROTATE_EXTRA_FILE_PATHS.split(',') %}
{{ file_path }}
{
    {{LOGROTATE_MODE}}
    missingok
    rotate {{LOGROTATE_ROTATE}}
    compress
    notifempty
    copytruncate
}
{% endfor %}
{% endif %}
